Repository aonez/Keka, pull requests merged in 2018-06, with the labels that each got.

#190 updated Korean localizations
  Translations/ko.lproj/Localizable.strings
Labels: enhancement, translation

#192 updated Korean translations
  Translations/ko.lproj/preferences.strings
Labels: enhancement, translation

#203 Updated BR localization
  Translations/Common/Translators.html
  Translations/pt-BR.lproj/Credits.html
  Translations/pt-BR.lproj/InfoPlist.strings
  Translations/pt-BR.lproj/Localizable.strings
  Translations/pt-BR.lproj/ServicesMenu.strings
  Translations/pt-BR.lproj/advanced.strings
  Translations/pt-BR.lproj/extraction.strings
  Translations/pt-BR.lproj/main.strings
  Translations/pt-BR.lproj/preferences.strings
Labels: enhancement, translation

#207 First pass of changes
  Translations/Web/lang_en.php
Labels: enhancement, translation, web

#211 Site translation (pt)
  Translations/Web/lang_pt.php
Labels: translation, web

#216 Minor corrections for BR
  Translations/Web/lang_pt.php
Labels: enhancement, translation
