Repository aonez/Keka, pull requests merged in 2020-08, with the labels that each got.

#603 Update Localizable.strings (IT)
  Translations/it.lproj/Localizable.strings
Labels: enhancement, translation

#612 Update Italian localization
  Translations/it.lproj/InfoPlist.strings
  Translations/it.lproj/Localizable.strings
  Translations/it.lproj/logPopoverView.strings
  Translations/it.lproj/main.strings
Labels: enhancement, translation

#614 Russian translation updated
  Translations/ru.lproj/InfoPlist.strings
  Translations/ru.lproj/Localizable.strings
  Translations/ru.lproj/logPopoverView.strings
Labels: enhancement, translation

#615 Fix tab-space
  Translations/Common/Translators.html
Labels: code, enhancement

#619 Translate Korean.
  Translations/Web/lang_ko.php
Labels: enhancement, translation, web

#621 Prepearing-> Preparing
  Translations/bg.lproj/Localizable.strings
  Translations/ca.lproj/Localizable.strings
  Translations/cs.lproj/Localizable.strings
  Translations/de.lproj/Localizable.strings
  Translations/el.lproj/Localizable.strings
  Translations/en-GB.lproj/Localizable.strings
  Translations/en.lproj/Localizable.strings
  Translations/es.lproj/Localizable.strings
  Translations/fr.lproj/Localizable.strings
  Translations/hu.lproj/Localizable.strings
  Translations/it.lproj/Localizable.strings
  Translations/ja.lproj/Localizable.strings
  Translations/ko.lproj/Localizable.strings
  Translations/nb.lproj/Localizable.strings
  Translations/nl.lproj/Localizable.strings
  Translations/pl.lproj/Localizable.strings
  Translations/pt-BR.lproj/Localizable.strings
  Translations/pt-PT.lproj/Localizable.strings
  Translations/ru.lproj/Localizable.strings
  Translations/sv.lproj/Localizable.strings
  Translations/tr.lproj/Localizable.strings
  Translations/uk.lproj/Localizable.strings
  Translations/vi.lproj/Localizable.strings
  Translations/zh-Hans.lproj/Localizable.strings
  Translations/zh-Hant.lproj/Localizable.strings
Labels: enhancement, translation

#623 cannal -> channel
  README.md
Labels: wiki

#624 prefered -> preferred
  Translations/README.md
Labels: wiki

#625 български -> Български
  Translations/Common/Translators.html
Labels: enhancement, translation

#620 plataform -> platform
  Translations/Web/lang_bg.php
  Translations/Web/lang_en.php
  Translations/Web/lang_es.php
  Translations/Web/lang_it.php
  Translations/Web/lang_ja.php
  Translations/Web/lang_ko.php
  Translations/Web/lang_nb.php
  Translations/Web/lang_pl.php
  Translations/Web/lang_pt-br.php
  Translations/Web/lang_pt-pt.php
  Translations/Web/lang_ru.php
  Translations/Web/lang_tr.php
  Translations/Web/lang_uk.php
  Translations/Web/lang_vi.php
  Translations/Web/lang_zh-cn.php
  Translations/Web/lang_zh-tw.php
Labels: web
