Repository aonez/Keka, pull requests merged in 2020-07, with the labels that each got.

#581 Update README to change "one of the reasons" url
  README.md
Labels: web

#586 First version of the Italian localization for the new Keka 1.2.0
  Translations/it.lproj/Credits.strings
  Translations/it.lproj/InfoPlist.strings
  Translations/it.lproj/Localizable.strings
  Translations/it.lproj/advanced.strings
  Translations/it.lproj/advancedWindowPopover.strings
  Translations/it.lproj/main.strings
  Translations/it.lproj/preferences.strings
Labels: enhancement, translation

#590 Update FinderExtensionLocalizable.strings (It)
  Translations/it.lproj/FinderExtensionLocalizable.strings
Labels: enhancement, translation

#593 Update Simplified Chinese translation
  Translations/Common/Translators.html
  Translations/Web/lang_zh-cn.php
  Translations/zh-Hans.lproj/Credits.strings
  Translations/zh-Hans.lproj/FinderExtensionLocalizable.strings
  Translations/zh-Hans.lproj/InfoPlist.strings
  Translations/zh-Hans.lproj/Localizable.strings
  Translations/zh-Hans.lproj/advancedWindowPopover.strings
  Translations/zh-Hans.lproj/main.strings
  Translations/zh-Hans.lproj/preferences.strings
Labels: enhancement, gui, translation, web

#595 New strings for 1.2 and website.
  Translations/Web/lang_pt-br.php
  Translations/pt-BR.lproj/Credits.strings
  Translations/pt-BR.lproj/FinderExtensionLocalizable.strings
  Translations/pt-BR.lproj/InfoPlist.strings
  Translations/pt-BR.lproj/Localizable.strings
  Translations/pt-BR.lproj/advanced.strings
  Translations/pt-BR.lproj/advancedWindowPopover.strings
  Translations/pt-BR.lproj/main.strings
  Translations/pt-BR.lproj/preferences.strings
Labels: enhancement, translation

#597 Update advancedWindowPopover.strings (IT)
  Translations/it.lproj/advancedWindowPopover.strings
Labels: enhancement, translation

#599 Update Localizable.strings (IT)
  Translations/it.lproj/Localizable.strings
Labels: enhancement, translation

#600 New strings and proper path for files.
  Translations/pt-BR.lproj/Localizable.strings
  Translations/pt-BR.lproj/preferences.strings
Labels: enhancement, translation
