Repository aonez/Keka, pull requests merged in 2020-10, with the labels that each got.

#640 Update Norwegian Bokmål translation
  Translations/Web/lang_nb.php
  Translations/nb.lproj/Credits.strings
  Translations/nb.lproj/FinderExtensionLocalizable.strings
  Translations/nb.lproj/InfoPlist.strings
  Translations/nb.lproj/InternetAccessPolicy.strings
  Translations/nb.lproj/Localizable.strings
  Translations/nb.lproj/advanced.strings
  Translations/nb.lproj/advancedWindowPopover.strings
  Translations/nb.lproj/logPopoverView.strings
  Translations/nb.lproj/main.strings
  Translations/nb.lproj/preferences.strings
Labels: enhancement, translation

#643 Additional fixes for Norwegian bokmål translation
  Translations/nb.lproj/Credits.strings
  Translations/nb.lproj/Localizable.strings
  Translations/nb.lproj/advanced.strings
  Translations/nb.lproj/loveView.strings
  Translations/nb.lproj/main.strings
Labels: enhancement, translation

#641 Update of the Italian localization
  Translations/it.lproj/Localizable.strings
  Translations/it.lproj/loveView.strings
  Translations/it.lproj/main.strings
Labels: enhancement, translation

#642 Update the Russian translation of the app
  Translations/Common/Translators.html
  Translations/ru.lproj/Credits.strings
  Translations/ru.lproj/FinderExtensionLocalizable.strings
  Translations/ru.lproj/InfoPlist.strings
  Translations/ru.lproj/InternetAccessPolicy.strings
  Translations/ru.lproj/Localizable.strings
  Translations/ru.lproj/advanced.strings
  Translations/ru.lproj/loveView.strings
  Translations/ru.lproj/main.strings
  Translations/ru.lproj/preferences.strings
Labels: enhancement, translation

#646 Update german translations
  Translations/de.lproj/Credits.strings
  Translations/de.lproj/FinderExtensionLocalizable.strings
  Translations/de.lproj/InfoPlist.strings
  Translations/de.lproj/Localizable.strings
  Translations/de.lproj/advanced.strings
  Translations/de.lproj/advancedWindowPopover.strings
  Translations/de.lproj/logPopoverView.strings
  Translations/de.lproj/loveView.strings
  Translations/de.lproj/main.strings
  Translations/de.lproj/preferences.strings
Labels: enhancement, hacktoberfest-accepted, translation

#648 translate Korean
  Translations/Web/lang_ko.php
Labels: enhancement, translation, web

#649 update Chinese translations
  Translations/Web/lang_zh-cn.php
  Translations/Web/lang_zh-tw.php
Labels: hacktoberfest-accepted, translation, web
