Repository aonez/Keka, pull requests merged in 2021-01, with the labels that each got.

#750 Update Vietnamese translation
  Translations/Web/lang_vi.php
Labels: enhancement, translation, web

#747 add some German translations
  Translations/Common/Translators.html
  Translations/de.lproj/Localizable.strings
Labels: enhancement, translation

#752 Update Korean translation
  Translations/Common/Translators.html
  Translations/ko.lproj/Credits.strings
  Translations/ko.lproj/FinderExtensionLocalizable.strings
  Translations/ko.lproj/InfoPlist.strings
  Translations/ko.lproj/InternetAccessPolicy.strings
  Translations/ko.lproj/Localizable.strings
  Translations/ko.lproj/advanced.strings
  Translations/ko.lproj/advancedWindowPopover.strings
  Translations/ko.lproj/logPopoverView.strings
  Translations/ko.lproj/loveView.strings
  Translations/ko.lproj/main.strings
  Translations/ko.lproj/preferences.strings
Labels: enhancement, translation

#755 Update missing Korean translations
  Translations/ko.lproj/Credits.strings
  Translations/ko.lproj/Localizable.strings
Labels: enhancement, translation

#766 l10n: zh_TW: translated and reviewed all
  Translations/Common/Translators.html
  Translations/zh-Hant.lproj/Credits.strings
  Translations/zh-Hant.lproj/FinderExtensionLocalizable.strings
  Translations/zh-Hant.lproj/InfoPlist.strings
  Translations/zh-Hant.lproj/InternetAccessPolicy.strings
  Translations/zh-Hant.lproj/Localizable.strings
  Translations/zh-Hant.lproj/ServicesMenu.strings
  Translations/zh-Hant.lproj/advanced.strings
  Translations/zh-Hant.lproj/advancedWindowPopover.strings
  Translations/zh-Hant.lproj/logPopoverView.strings
  Translations/zh-Hant.lproj/loveView.strings
  Translations/zh-Hant.lproj/main.strings
  Translations/zh-Hant.lproj/preferences.strings
Labels: enhancement, translation

#771 Update CHS translation
  Translations/Web/lang_zh-cn.php
  Translations/zh-Hans.lproj/Credits.strings
  Translations/zh-Hans.lproj/Localizable.strings
  Translations/zh-Hans.lproj/advanced.strings
  Translations/zh-Hans.lproj/advancedWindowPopover.strings
  Translations/zh-Hans.lproj/logPopoverView.strings
  Translations/zh-Hans.lproj/loveView.strings
  Translations/zh-Hans.lproj/main.strings
  Translations/zh-Hans.lproj/preferences.strings
Labels: enhancement, translation

#772 Update CHS translations
  Translations/zh-Hans.lproj/FinderExtensionLocalizable.strings
  Translations/zh-Hans.lproj/InfoPlist.strings
  Translations/zh-Hans.lproj/Localizable.strings
  Translations/zh-Hans.lproj/ServicesMenu.strings
  Translations/zh-Hans.lproj/advanced.strings
  Translations/zh-Hans.lproj/preferences.strings
Labels: enhancement

#769 l10n(zh_TW): tweak translation
  Translations/zh-Hant.lproj/InfoPlist.strings
  Translations/zh-Hant.lproj/Localizable.strings
  Translations/zh-Hant.lproj/advanced.strings
  Translations/zh-Hant.lproj/advancedWindowPopover.strings
  Translations/zh-Hant.lproj/preferences.strings
Labels: enhancement, translation
