Repository aonez/Keka, pull requests merged in 2022-01, with the labels that each got.

#1003 update CHS translation
  Translations/Web/lang_zh-cn.php
  Translations/zh-Hans.lproj/InfoPlist.strings
Labels: enhancement, gui, translation, web

#1007 [Russian] Update Localizable.strings
  Translations/ru.lproj/Localizable.strings
Labels: enhancement, translation

#1011 l10n(zh_TW): update translation to b7e74c1
  Translations/zh-Hant.lproj/InfoPlist.strings
Labels: enhancement, translation

#1013 Update German translation
  Translations/Common/Translators.html
  Translations/de.lproj/InfoPlist.strings
  Translations/de.lproj/Localizable.strings
  Translations/de.lproj/loveView.strings
Labels: enhancement, translation

#1015 Translate NSDownloadsFolderUsageDescription for German
  Translations/de.lproj/InfoPlist.strings
Labels: enhancement, translation

#1027 Update main.strings
  Translations/ja.lproj/main.strings
Labels: enhancement, translation

#1028 Update loveView.strings
  Translations/ja.lproj/loveView.strings
Labels: enhancement, translation

#1029 Update logPopoverView.strings
  Translations/ja.lproj/logPopoverView.strings
Labels: enhancement, translation

#1030 Update advancedWindowPopover.strings
  Translations/ja.lproj/advancedWindowPopover.strings
Labels: enhancement, translation

#1031 Update advanced.strings
  Translations/ja.lproj/advanced.strings
Labels: enhancement, translation

#1032 Update Localizable.strings
  Translations/ja.lproj/Localizable.strings
Labels: enhancement, translation

#1033 Update InternetAccessPolicy.strings
  Translations/ja.lproj/InternetAccessPolicy.strings
Labels: enhancement, translation

#1034 Update FinderExtensionLocalizable.strings
  Translations/ja.lproj/FinderExtensionLocalizable.strings
Labels: enhancement, translation

#1035 Update Credits.strings
  Translations/ja.lproj/Credits.strings
Labels: enhancement, translation

#1036 Update InfoPlist.strings
  Translations/ja.lproj/InfoPlist.strings
Labels: enhancement, translation

#1026 Update preferences.strings
  Translations/ja.lproj/preferences.strings
Labels: enhancement, translation

#1025 Update lang_ja.php
  Translations/Web/lang_ja.php
Labels: enhancement, translation, web
