Repository aonez/Keka, pull requests merged in 2023-07, with the labels that each got.

#1286 Update Simplified Chinese localization
  Translations/zh-Hans.lproj/advanced.strings
Labels: enhancement, translation, macOS

#1285 Updated swedish
  Translations/sv.lproj/Localizable.strings
  Translations/sv.lproj/advanced.strings
  Translations/sv.lproj/preferences.strings
Labels: enhancement, translation, macOS

#1288 Added Finnish translation
  Translations/Common/Translators.html
  Translations/fi.lproj/Credits.strings
  Translations/fi.lproj/FinderExtensionLocalizable.strings
  Translations/fi.lproj/InfoPlist.strings
  Translations/fi.lproj/InternetAccessPolicy.strings
  Translations/fi.lproj/Localizable.strings
  Translations/fi.lproj/ServicesMenu.strings
  Translations/fi.lproj/about.strings
  Translations/fi.lproj/advanced.strings
  Translations/fi.lproj/advancedWindowPopover.strings
  Translations/fi.lproj/logPopoverView.strings
  Translations/fi.lproj/loveView.strings
  Translations/fi.lproj/main.strings
  Translations/fi.lproj/preferences.strings
Labels: enhancement, translation

#1289 Updated Preferences' Finnish translations
  Translations-iOS/fi.xcloc/Localized Contents/en.xliff
  Translations-iOS/fi.xcloc/contents.json
  Translations/fi.lproj/InternetAccessPolicy.strings
  Translations/fi.lproj/Localizable.strings
  Translations/fi.lproj/preferences.strings
Labels: enhancement, translation, iOS, macOS
