Repository aonez/Keka, pull requests merged in 2023-06, with the labels that each got.

#1268 Portuguese translation for the ios app
  Translations-iOS/pt-PT.xcloc/Localized Contents/pt-PT.xliff
  Translations-iOS/pt-PT.xcloc/contents.json
Labels: enhancement, translation, iOS

#1269 Added Volume strings to iOS translation (IT)
  Translations-iOS/Alternative-Strings-Files/it.lproj/InfoPlist.strings
  Translations-iOS/Alternative-Strings-Files/it.lproj/Localizable.strings
Labels: enhancement, translation, iOS

#1270 Added Volume strings to iOS translations (FR)
  Translations-iOS/Alternative-Strings-Files/fr.lproj/Localizable.strings
  Translations-iOS/fr.xcloc/Localized Contents/fr.xliff
Labels: enhancement, translation

#1271 ukrainian localization updated
  Translations/Web/lang_uk.php
  Translations/uk.lproj/Credits.strings
  Translations/uk.lproj/FinderExtensionLocalizable.strings
  Translations/uk.lproj/InfoPlist.strings
  Translations/uk.lproj/InternetAccessPolicy.strings
  Translations/uk.lproj/Localizable.strings
  Translations/uk.lproj/ServicesMenu.strings
  Translations/uk.lproj/about.strings
  Translations/uk.lproj/advanced.strings
  Translations/uk.lproj/advancedWindowPopover.strings
  Translations/uk.lproj/main.strings
  Translations/uk.lproj/preferences.strings
Labels: enhancement, translation, web, macOS

#1278 Update Simplified Chinese localization
  Translations/zh-Hans.lproj/preferences.strings
Labels: enhancement, translation, macOS

#1279 l10n: zh-TW: Update to 031e244e871a9fa2661858f2d6b3db99dd95f265
  Translations/zh-Hant.lproj/Localizable.strings
  Translations/zh-Hant.lproj/advanced.strings
Labels: enhancement, translation, macOS
