Repository aonez/Keka, pull requests merged in 2023-12, with the labels that each got.

#1369 Update of missing strings
  Translations-macOS/de.lproj/Localizable.strings
  Translations-macOS/de.lproj/advanced.strings
Labels: enhancement, translation, macOS

#1375 Expand Czech localization to the whole project
  Translations-Web/lang_cs.php
  Translations-iOS/cs.xcloc/Localized Contents/cs.xliff
  Translations-iOS/cs.xcloc/contents.json
  Translations-macOS/cs.lproj/Localizable.strings
  Translations-macOS/cs.lproj/loveView.strings
Labels: enhancement, translation, web, iOS, macOS

#1376 First fix czech web localisation
  Translations-Web/lang_cs.php
Labels: enhancement, translation, web

#1374 X > Threads
  Translations-Web/lang_sv.php
  Translations-iOS/Alternative-Strings-Files/sv.lproj/Localizable.strings
  Translations-macOS/Common/Translators.html
Labels: enhancement, translation, web
