Repository aonez/Keka, pull requests merged in 2023-08, with the labels that each got.

#1296 Czech localization fixies
  Translations/cs.lproj/Localizable.strings
  Translations/cs.lproj/advanced.strings
  Translations/cs.lproj/preferences.strings
Labels: enhancement, translation, macOS

#1297 Add jp translation for iOS
  Translations-iOS/Alternative-Strings-Files/ja.lproj/InfoPlist.strings
  Translations-iOS/Alternative-Strings-Files/ja.lproj/KekaBrowseAction-InfoPlist.strings
  Translations-iOS/Alternative-Strings-Files/ja.lproj/KekaCompressionAction-InfoPlist.strings
  Translations-iOS/Alternative-Strings-Files/ja.lproj/KekaExtractionAction-InfoPlist.strings
  Translations-iOS/Alternative-Strings-Files/ja.lproj/Localizable.strings
  Translations-iOS/ja.xcloc/Localized Contents/ja.xliff
  Translations-iOS/ja.xcloc/contents.json
  Translations/ja.lproj/Localizable.strings
  Translations/ja.lproj/preferences.strings
Labels: enhancement, translation, iOS, macOS

#1299 update CHS translation
  Translations-iOS/Alternative-Strings-Files/zh-Hans.lproj/Localizable.strings
  Translations-iOS/zh-Hans.xcloc/Localized Contents/zh-Hans.xliff
  Translations/zh-Hans.lproj/advanced.strings
  Translations/zh-Hans.lproj/preferences.strings
Labels: enhancement, translation, iOS

#1305 Added iOS Translation in Bulgarian
  Translations-iOS/bg.xcloc/Localized Contents/bg.xliff
  Translations-iOS/bg.xcloc/contents.json
  Translations/Web/lang_bg.php
  Translations/bg.lproj/Localizable.strings
  Translations/bg.lproj/ServicesMenu.strings
  Translations/bg.lproj/preferences.strings
Labels: enhancement, translation, web, iOS, macOS

#1306 Update Simplified Chinese localization
  Translations/zh-Hans.lproj/Localizable.strings
Labels: enhancement, translation, macOS

#1307 Update lang_bg.php
  Translations/Web/lang_bg.php
Labels: enhancement, translation, web

#1312 Squashfs Filesystem Archive document type string (IT)
  Translations/Common/Translators.html
  Translations/it.lproj/InfoPlist.strings
Labels: enhancement, translation, macOS
