Repository aonez/Keka, pull requests merged in 2024-02, with the labels that each got.

#1390 Improve Traditional Chinese translation
  Translations-Web/lang_zh-tw.php
  Translations-iOS/zh-Hant.xcloc/Localized Contents/zh-Hant.xliff
  Translations-macOS/zh-Hant.lproj/Credits.strings
Labels: enhancement, translation, web, iOS, macOS

#1396 Updated iOS Translation (FR)
  Translations-iOS/Alternative-Strings-Files/fr.lproj/InfoPlist.strings
  Translations-iOS/Alternative-Strings-Files/fr.lproj/Localizable.strings
Labels: enhancement, translation, iOS

#1397 [iOS] Added new strings (IT)
  Translations-iOS/Alternative-Strings-Files/it.lproj/InfoPlist.strings
  Translations-iOS/Alternative-Strings-Files/it.lproj/Localizable.strings
Labels: enhancement, translation, iOS

#1398 Added MDZ (Commodore Amiga MOD Archive) - (IT)
  Translations-macOS/it.lproj/InfoPlist.strings
Labels: enhancement, translation, macOS

#1401 Update CHS translation
  Translations-iOS/zh-Hans.xcloc/Localized Contents/zh-Hans.xliff
  Translations-macOS/zh-Hans.lproj/InfoPlist.strings
Labels: translation, iOS, 7zz, macOS

#1400 Update Czech localization
  Translations-iOS/Alternative-Strings-Files/cs.lproj/Localizable.strings
  Translations-macOS/cs.lproj/InfoPlist.strings
Labels: enhancement, translation, iOS, macOS

#1404 RU-translation update
  Translations-macOS/ru.lproj/Credits.strings
  Translations-macOS/ru.lproj/FinderExtensionLocalizable.strings
  Translations-macOS/ru.lproj/InfoPlist.strings
  Translations-macOS/ru.lproj/Localizable.strings
Labels: enhancement, translation, macOS
