Repository aonez/Keka, pull requests merged in 2024-09, with the labels that each got.

#1486 Pending BR translations for 1.4.3
  Translations-macOS/pt-BR.lproj/InfoPlist.strings
  Translations-macOS/pt-BR.lproj/Localizable.strings
  Translations-macOS/pt-BR.lproj/advanced.strings
  Translations-macOS/pt-BR.lproj/preferences.strings
Labels: enhancement, translation

#1488 Update Localizable.strings
  Translations-macOS/cs.lproj/Localizable.strings
  Translations-macOS/cs.lproj/preferences.strings
Labels: enhancement, translation

#1507 l10n(macOS/zh-TW): Update translation
  Translations-macOS/zh-Hant.lproj/FinderExtensionLocalizable.strings
  Translations-macOS/zh-Hant.lproj/InfoPlist.strings
  Translations-macOS/zh-Hant.lproj/Localizable.strings
  Translations-macOS/zh-Hant.lproj/preferences.strings
Labels: enhancement, translation, macOS

#1503 Localization Optimization of Chinese Simplified
  Translations-macOS/zh-Hans.lproj/Localizable.strings
  Translations-macOS/zh-Hans.lproj/loveView.strings
Labels: enhancement, translation

#1509 Update Localizable.strings - Finder Extension on macOS 15 (FR)
  Translations-macOS/fr.lproj/Localizable.strings
Labels: enhancement, translation, macOS

#1510 Option to enable the Finder Extension on macOS 15 (IT)
  Translations-macOS/it.lproj/Localizable.strings
Labels: enhancement, translation, macOS

#1508 update CHS translations
  Translations-iOS/zh-Hans.xcloc/Localized Contents/zh-Hans.xliff
  Translations-macOS/zh-Hans.lproj/InfoPlist.strings
  Translations-macOS/zh-Hans.lproj/Localizable.strings
  Translations-macOS/zh-Hans.lproj/advanced.strings
  Translations-macOS/zh-Hans.lproj/preferences.strings
Labels: enhancement, translation, iOS, macOS
