Repository aonez/Keka, pull requests merged in 2024-05, with the labels that each got.

#1451 Upodate Czech resources
  Translations-iOS/Alternative-Strings-Files/cs.lproj/AppShortcuts.strings
  Translations-iOS/Alternative-Strings-Files/cs.lproj/Localizable.strings
Labels: enhancement, translation, iOS

#1452 [iOS] Shortcuts and last versions strings (IT)
  Translations-iOS/Alternative-Strings-Files/it.lproj/AppShortcuts.strings
  Translations-iOS/Alternative-Strings-Files/it.lproj/Localizable.strings
Labels: enhancement, translation, iOS

#1434 RU-translation updates
  Translations-Web/lang_ru.php
  Translations-macOS/ru.lproj/preferences.strings
Labels: enhancement, translation, macOS

#1453 [macOS] New format strings (v1.4.0) - IT
  Translations-macOS/it.lproj/InfoPlist.strings
Labels: enhancement, translation, macOS

#1456 New iOS and macOS strings translated (FR)
  Translations-iOS/Alternative-Strings-Files/fr.lproj/AppShortcuts.strings
  Translations-iOS/Alternative-Strings-Files/fr.lproj/Localizable.strings
  Translations-macOS/fr.lproj/InfoPlist.strings
Labels: enhancement, translation, iOS, macOS

#1458 Update KO translation
  Translations-Web/lang_ko.php
  Translations-iOS/ko.xcloc/Localized Contents/ko.xliff
  Translations-iOS/ko.xcloc/contents.json
  Translations-macOS/Common/Translators.html
  Translations-macOS/ko.lproj/InfoPlist.strings
  Translations-macOS/ko.lproj/Localizable.strings
  Translations-macOS/ko.lproj/advanced.strings
  Translations-macOS/ko.lproj/preferences.strings
Labels: enhancement, translation, web, iOS, macOS
