Repository aonez/Keka, pull requests merged in 2024-04, with the labels that each got.

#1418 Update Vietnamese translation for Keka
  Translations-Web/lang_vi.php
  Translations-macOS/vi.lproj/Localizable.strings
  Translations-macOS/vi.lproj/advanced.strings
  Translations-macOS/vi.lproj/preferences.strings
Labels: enhancement, translation, web, macOS

#1420 Strings for new features - RU-translation
  Translations-macOS/ru.lproj/Localizable.strings
  Translations-macOS/ru.lproj/advanced.strings
Labels: enhancement, translation, macOS

#1424 l10n: zh-TW: Update Keka translation
  Translations-iOS/zh-Hant.xcloc/Localized Contents/zh-Hant.xliff
  Translations-macOS/zh-Hant.lproj/InfoPlist.strings
  Translations-macOS/zh-Hant.lproj/Localizable.strings
  Translations-macOS/zh-Hant.lproj/advanced.strings
  Translations-macOS/zh-Hant.lproj/main.strings
  Translations-macOS/zh-Hant.lproj/preferences.strings
Labels: enhancement, translation, iOS, macOS

#1430 New messages + typos corrected
  Translations-Web/lang_nb.php
Labels: enhancement, translation
