Repository aonez/Keka, pull requests merged in 2025-01, with the labels that each got.

#1577 Update InfoPlist.strings with missing translations
  Translations-macOS/pl.lproj/InfoPlist.strings
Labels: enhancement, translation, macOS

#1578 Update Localizable.strings with missing translations
  Translations-macOS/pl.lproj/Localizable.strings
Labels: enhancement, translation, macOS

#1562 Update Czech localization
  Translations-iOS/Alternative-Strings-Files/cs.lproj/InfoPlist.strings
  Translations-iOS/Alternative-Strings-Files/cs.lproj/Localizable.strings
  Translations-iOS/cs.xcloc/Localized Contents/cs.xliff
Labels: enhancement, translation, iOS

#1580 Update CHS translations
  Translations-iOS/zh-Hans.xcloc/Localized Contents/zh-Hans.xliff
  Translations-macOS/zh-Hans.lproj/preferences.strings
Labels: enhancement, translation, iOS, macOS
