Repository aonez/Keka, pull requests merged in 2025-05, with the labels that each got.

#1619 Corrected 2 strings + web translation added
  Translations-Web/lang_sl.php
  Translations-macOS/sl.lproj/advanced.strings
  Translations-macOS/sl.lproj/preferences.strings
Labels: enhancement, translation, web, macOS

#1620 Update Polish translation
  Translations-macOS/pl.lproj/advanced.strings
  Translations-macOS/pl.lproj/preferences.strings
Labels: enhancement, translation, macOS

#1630 Update translation for zh-Hant
  Translations-iOS/zh-Hant.xcloc/Localized Contents/zh-Hant.xliff
  Translations-macOS/zh-Hant.lproj/InternetAccessPolicy.strings
  Translations-macOS/zh-Hant.lproj/Localizable.strings
Labels: enhancement, translation, iOS, macOS
