Repository aonez/Keka, pull requests merged in 2025-06, with the labels that each got.

#1633 [macOS] Missing strings from the toolbar (IT)
  Translations-macOS/it.lproj/Localizable.strings
Labels: enhancement, translation, macOS

#1639 Update InternetAccessPolicy.strings: fixed typo line 16 in Spanish chapter
  Translations-macOS/es.lproj/InternetAccessPolicy.strings
Labels: enhancement, translation, macOS

#1640 Update Localizable.strings: fixed typos in Spanish translation
  Translations-macOS/es.lproj/Localizable.strings
Labels: enhancement, translation, macOS

#1636 Danish translations for macOS and web
  Translations-Web/lang_da.php
  Translations-macOS/Common/Translators.html
  Translations-macOS/da.lproj/Credits.strings
  Translations-macOS/da.lproj/FinderExtensionLocalizable.strings
  Translations-macOS/da.lproj/InfoPlist.strings
  Translations-macOS/da.lproj/InternetAccessPolicy.strings
  Translations-macOS/da.lproj/Localizable.strings
  Translations-macOS/da.lproj/ServicesMenu.strings
  Translations-macOS/da.lproj/Translators.html
  Translations-macOS/da.lproj/about.strings
  Translations-macOS/da.lproj/advanced.strings
  Translations-macOS/da.lproj/advancedWindowPopover.strings
  Translations-macOS/da.lproj/logPopoverView.strings
  Translations-macOS/da.lproj/loveView.strings
  Translations-macOS/da.lproj/loveViewWEB.strings
  Translations-macOS/da.lproj/main.strings
  Translations-macOS/da.lproj/preferences.strings
Labels: enhancement, translation, web, macOS

#1642 Few fixes for new Danish translation
  Translations-Web/lang_da.php
  Translations-macOS/da.lproj/InfoPlist.strings
  Translations-macOS/da.lproj/Localizable.strings
  Translations-macOS/da.lproj/preferences.strings
Labels: enhancement, translation, web, macOS

#1646 Update macOS & iOS zh-Hans translations
  Translations-iOS/zh-Hans.xcloc/Localized Contents/zh-Hans.xliff
  Translations-macOS/zh-Hans.lproj/Localizable.strings
  Translations-macOS/zh-Hans.lproj/preferences.strings
Labels: enhancement, translation, iOS, macOS
